body {
    margin:0;
    font-family:Arial;
    background:#0d1117;
    color:white;
}

.topbar {
    display:flex;
    gap:10px;
    padding:10px;
    background:#161b22;
    align-items:center;
}

button {
    background:orange;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
}

.center {
    text-align:center;
    margin-top:80px;
}

input {
    padding:10px;
    border-radius:8px;
    border:none;
}

.tab {
    padding:20px;
}

.hidden {
    display:none;
}

.grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:10px;
}

.card {
    background:#161b22;
    padding:15px;
    border-radius:10px;
    text-align:center;
}

#chart {
    margin-top:20px;
    background:#161b22;
    border-radius:10px;
    padding:10px;
}

/* RGB DONATE BOX */
.rgb-box {
    margin-top:20px;
    padding:20px;
    border-radius:15px;
    text-align:center;
    animation: rgb 5s infinite linear;
}

@keyframes rgb {
    0% { background:red; }
    25% { background:blue; }
    50% { background:green; }
    75% { background:purple; }
    100% { background:red; }
}

.small {
    opacity:0.7;
    font-size:12px;
}
